<fieldset>
<table>
  <tr>
  	<td><%= f.label :first_name, "First name"%></td> </br>
  	<td><%= f.text_field :first_name, required: true, placeholder: "First name"%></td>
  </tr>
  <tr>
  	<td><%= f.label :last_name, "Last name"%></td>
  	<td><%= f.text_field :last_name, required: true, placeholder: "Last name"%></td>
  </tr>
  <tr>
  	<td><%= f.label :Address, "Address"%></td>
  	<td><%= f.text_field :address, required: true, placeholder: "Address"%></td>
  </tr>
  <tr>
  	<td><%= f.label :email, "Email"%></td>
  	<td><%= f.text_field :email, required: true, placeholder: "Email"%></td>
  </tr>
  <tr>
  	<td><%= f.label :age, "Age"%></td>
  	<td><%= f.text_field :age, required: true, placeholder: "Age"%></td>
  </tr>
  <tr>
  	<td><%= f.label :school, "School"%></td>
  	<td><%= f.text_field :school, required: true, placeholder: "School"%></td>
  </tr>
</table>
</fieldset>