<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %></div>
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

  <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %></div>

  <div><%= f.submit "Update" %></div>
  
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>

<div id="new-junior"></div>

<button id="save-junior">add junior</button>
<button id="load-junior">load junior form</button>

<script style="text/javascript">
$(document).ready(function(){
  $('#load-junior').show();
  $('#save-junior').hide();

  $("#sticker").sticky({topSpacing:0})

  $('#save-junior').on('click', function(e) {
    var formData = $('#new_junior').serialize();
    $.ajax('<%= juniors_create_path %>', {
      type: 'POST',
      dataType: "JSON",
      data: formData,
      success:function(data, textStatus, jqXHR) 
        {
          $('#load-junior').show();
          $('#save-junior').hide();

          alert('success'); //data: return data from server
          
        },
      error: function(jqXHR, textStatus, errorThrown) 
        {
          alert('failure'); //if fails      
        }
    })
    e.preventDefault();
    return false;
  });

  $('#load-junior').on('click', function(e) {

    var data;
    $.ajax({
      type: "GET",
      url: '/juniors/new_form',
      dataType: "JSON",
      success: function(data) {
        console.log('success');
        $('#save-junior').show();
        $('#load-junior').hide();
        $('#new-junior').append(data);
      },
      error: function(data){
        $('#save-junior').show();
        $('#load-junior').hide();
        $('#new-junior').append(data.responseText);
      }
    });
    e.preventDefault();
    return false;
  });
});
</script>
