<div class="span 9">
<h2>Edit <%= resource_name.to_s.humanize %></h2>

<div id="new-junior"></div>
<div id="new-senior"></div>
<button id="save-junior" class="pull-left">add junior</button>
<button id="load-junior">load junior form</button>
<button id="save-senior">add senior</button>
<button id="load-senior">load senior form</button>
</br>
</br>
 <div class="span2">
  <h3>Update my account</h3>
 <%= render 'form' %>
 <%= link_to "Back", :back %>
</div>
<div class="span2"></div>
<div class="span3">
<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
</div>

</div>



<script style="text/javascript">
$(document).ready(function(){
  $('#load-junior').show();
  $('#save-junior').hide();

  $('#load-senior').show();
  $('#save-senior').hide();


  $("#sticker").sticky({topSpacing:0})

  $('#save-junior').on('click', function(e) {
    var formData = $('#new_junior').serialize();
    alert($('#new_junior').valid());
    if($('#new_junior').valid()){
      $.ajax('<%= juniors_create_path %>', {
        type: 'POST',
        dataType: "JSON",
        data: formData,
        success: function(data, textStatus, jqXHR) 
        {
          $('#load-junior').show();
          $('#save-junior').hide();

          alert('success'); //data: return data from server
          
        },
        error: function(jqXHR, textStatus, errorThrown) 
        {
          alert('failure'); //if fails      
        }
      });
    }
    e.preventDefault();
    return false;
  });

  $('#load-junior').on('click', function(e) {

    var data;
    $.ajax({
      type: "GET",
      url: '/juniors/new_form',
      dataType: "JSON",
      success: function(data) {
        console.log('success');
        $('#save-junior').show();
        $('#load-junior').hide();
        $('#new-junior').append(data);
      },
      error: function(data){
        $('#save-junior').show();
        $('#load-junior').hide();
        $('#new-junior').append(data.responseText);

        $('#new_junior').validate({
      debug: true,
      rules: {
        "junior[first_name]": {required: true, maxlength: 20},
        "junior[last_name]": {required: true, maxlength: 20},
        "junior[address]": {required:true},
        "junior[email]": {email: true},
        "junior[age]": {required: true}
      }
    });
  
      }
    });
    e.preventDefault();
    return false;
  });



  $('#save-senior').on('click', function(e) {
    var formData = $('#new_senior').serialize();
    alert($('#new_senior').valid());
    if($('#new_senior').valid()){
      $.ajax('/senior/create', {
        type: 'POST',
        dataType: "JSON",
        data: formData,
        success: function(data, textStatus, jqXHR) 
        {
          $('#load-senior').show();
          $('#save-senior').hide();

          alert('success'); //data: return data from server
          
        },
        error: function(jqXHR, textStatus, errorThrown) 
        {
          alert('failure'); //if fails      
        }
      });
    }
    e.preventDefault();
    return false;
  });

  $('#load-senior').on('click', function(e) {

    var data;
    $.ajax({
      type: "GET",
      url: '/senior/new_form',
      dataType: "JSON",
      success: function(data) {
        console.log('success');
        $('#save-senior').show();
        $('#load-senior').hide();
        $('#new-senior').append(data);
      },
      error: function(data){
        $('#save-senior').show();
        $('#load-senior').hide();
        $('#new-senior').append(data.responseText);

        $('#new_senior').validate({
      debug: true,
      rules: {
        "senior[position]": {required: true, maxlength: 10},
        "senior[grade]": {required: true},
      }
    });
  
      }
    });
    e.preventDefault();
    return false;
  });
});
</script>
