<%= form_for @senior, :id => 'senior_form' do |f|%>
<fieldset>
<table>
  <tr>
  	<td><%= f.label :position, "Position"%></td>
  	<td><%= f.text_field :position, required: true, placeholder: "Enter position"%></td>
  </tr>
    <tr>
  	<td><%= f.label :grade, "Grade"%></td>
  	<td><%= f.text_field :grade, required: true, placeholder: "Enter grade"%></td>
  </tr>
</table>
</fieldset>
<%end%>