<%= form_for @junior, :id => 'junior_form' do |f|%>
<table>
  <tr>
  	<td><%= f.label :first_name, "First name"%></td> </br>
  	<td><%= f.text_field :first_name, required: true, placeholder: "First name"%></td>
  </tr>
  <tr>
  	<td><%= f.label :last_name, "Last name"%></td>
  	<td><%= f.text_field :last_name, required: true, placeholder: "Last name"%></td>
  </tr>
  <tr>
  	<td><%= f.label :address, "Address"%></td>
  	<td><%= f.text_field :address, required: true, placeholder: "Address"%></td>
  </tr>
  <tr>
  	<td><%= f.label :email, "Email"%></td>
  	<td><%= f.text_field :email, required: true, placeholder: "Email"%></td>
  </tr>
  <span id="select"><tr>
    <td><%= f.label :dob, "Date of Birth"%></td>
    <td><%= f.date_select :dob,{:use_month_numbers => true,:order => [:day, :month, :year] ,:start_year => 1980 } %></td>
  </tr></span>
  <tr>
    <td><%= f.label :gender, "Gender"%></td>
    <td><%= f.select :gender, [['Female', "Female"],['Male', "Male"]], :include_blank =>'Gender', :id => "gender_select"%></td>
  </tr>
    <tr>
    <td><%= f.label :school, "School"%></td>
    <td><%= f.text_field :school, required: true, placeholder: "School"%></td>
  </tr>
  <tr>
    <td><%= f.label :current_school_year, "School Year"%></td>
    <td><%= f.select :current_school_year,(0..8), :include_blank =>'Year at School'%></td>
  </tr>
  <tr>
    <td><%= f.label :grade_last_season, "Grade Last Season"%></td>
    <td><%= f.select :grade_last_season,(0..8), :include_blank =>'If new leave blank'%></td> 
  </tr>

  <div id="is_girl" style="display:none">
    <tr>
      <td><%= f.label :girls_only, "Girls only?"%></td>
      <td><%= f.check_box :girls_only%></td> 
    </tr>
  </div>

</table>
<% end %>
<script>
$(document).on('ready', function(){
$('#gender_select').on('blur', function(){
  if ($('#gender_select').val() == 'Female')
    $('#is_girl').show();
  else
    $('#is_girl').hide();
});
});
</script>
