<%= form_for @junior, :id => 'junior_form' do |f|%>
<table>
  <tr>
  	<td><%= f.label :first_name, "First name"%></td> </br>
  	<td><%= f.text_field :first_name, required: true, placeholder: "First name"%></td>
  </tr>
  <tr>
  	<td><%= f.label :last_name, "Last name"%></td>
  	<td><%= f.text_field :last_name, required: true, placeholder: "Last name"%></td>
  </tr>
  <tr>
  	<td><%= f.label :address, "Address"%></td>
  	<td><%= f.text_field :address, required: true, placeholder: "Address"%></td>
  </tr>
  <tr>
  	<td><%= f.label :email, "Email"%></td>
  	<td><%= f.text_field :email, required: true, placeholder: "Email"%></td>
  </tr>
  <span id="select"><tr>
    <td><%= f.label :dob, "Date of Birth"%></td>
    <td><%= f.date_select :dob,{:use_month_numbers => true,:order => [:day, :month, :year] ,:start_year => 1980 } %></td>
  </tr></span>
  <tr>
    <td><%= f.label :gender, "Gender"%></td>
    <td><%= f.select :gender, [['Female', "Female"],['Male', "Male"]], :include_blank =>'Gender'%></td>
  </tr>
    <tr>
    <td><%= f.label :school, "School"%></td>
    <td><%= f.text_field :school, required: true, placeholder: "School"%></td>
  </tr>
    <tr>
      <td><%= f.label :current_school_year, "School Year"%></td>

    <td><%= f.select :current_school_year,(0..8), :include_blank =>'Year at School'%></td>
  </tr>
</table>
<% end %>
