<p id="notice"><%= notice %></p>

<p>
  <strong>Image name:</strong>
  <%= @image.img_name %>
  <br/>

 <%= image_tag @image.pic.url %>
 <br/>



<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
