<p id="notice"><%= notice %></p>

<p>
  <strong>Img name:</strong>
  <%= @image.img_name %>

 <%= image_tag @image.pic.url %>
 <br/>

 <%= image_tag @image.pic.url(:medium) %>
 <br/>
 
 <%= image_tag @image.pic.url(:thumb) %>
 <br/>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
