<!DOCTYPE html>
<html>
<head>
  <title>TawaCricketClub</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <div class="nav-collapse">
        <ul class="nav">
          <li><%= link_to "TawaCricket", root_path %></li>
          <li><%= link_to "Register", new_member_registration_path %></li>
          <li><%= link_to 'Sign in', new_member_session_path %></li>
        </ul>
        <ul  class="nav" id="menu-user-links">
        <li>
         <% if member_signed_in? -%>
            <div id="user_login_box">
          <%= current_member.email %> |
          <%= link_to 'My info', edit_member_registration_path %> |
          <%= link_to 'Sign out', destroy_member_session_path, method: :delete %>
            </div>
          <% end -%>                       
        </li> 
        <li>         
        <% if !member_signed_in? -%>
          <div id="user_login_box">
           <%= form_for("member", :url => member_session_path) do |f| %>
           <%= f.text_field :email, :placeholder => 'email', class: "input-small" %>
            <%= f.password_field :password, :placeholder => 'password', class: "input-small" %>
           <%= f.submit 'Sign in' %>
         </div>
        <%end%>
        <%end%>
      </li>
        </ul>
      </div>
  </div>
</div>
<div>
  <div class="container">
    <%- flash.each do |name, msg| -%>
        <%= content_tag :div, msg, id: "flash_#{name}" if msg.is_a?(String) %>
      <%- end -%>  
      <div style="clear:both"></div> 
      <%= yield %> 
    </div>
  </body>
</html>
