<!DOCTYPE html>
<html>

<head>
  <title>TawaCricketClub</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body>  
<div id="page-wrap">
  <div>
   <%= render 'layouts/header' %>
</div>
  <div class="container">
    <%- flash.each do |name, msg| -%>
        <%= content_tag :div, msg, id: "flash_#{name}" if msg.is_a?(String) %>
      <%- end -%>  
      <div style="clear:both"></div> 
      <%= yield %> 
    </div>
  </div>
  <div id ="bg">
    <%= image_tag("bg.jpg", :alt => "backgroup image") %>
  </div>
  </body>
  
</html>
